
<% flash.each do |type, msg| %>
  <div class="flashmessage">
  <br>
    <%= msg %>
  </div>
<% end %>

<div class="loginform text-center">
    <br></br>
    <h3>Log In </h3>
    
    <%= form_for(:user, url: login_path) do |f| %>
    <%= f.label "User Email" %>
    <%= f.text_field :email %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit 'Log In', :class => "button"%>
    <% end %>
</div>
